* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Cascadia Mono monospace; */
  font-family: monospace;
  font-size: 1rem;
}

:root {
  --primary-dark: #282c34;
  --primary-light: #fff;
  --link-default: #3c3cff;
}

body {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

::selection {
  color: var(--primary-dark);
  background-color: var(--primary-light);
}


a {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.terminal-line {
  white-space: break-spaces;
  word-break: break-all;
  padding-bottom: 1rem;

}

.welcome-message {
  padding-bottom: 2rem;
}

.terminal-input {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-size: 1rem;
  flex-grow: 1;
  resize: none;
}


.terminal-input:focus {
  outline: none;
}


#terminal {
  padding: 10rem;
  height: 100vh;
}

#textarea {
  /* position: absolute; 
  top: -100%; */
  position: relative;
  left: -100%;
}

#caret {
  display: inline-block;
  width: .66rem;
  height: .33rem;
  background-color: var(--primary-light);
  animation: caret-animation 1s 1s infinite;
}


/* TODO: show text animation */

@keyframes caret-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.terminal-list {
  display: block;
}

li {
  list-style: none;
}

.terminal-list>li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  border: 2px dashed var(--primary-light);
}


.project-description a {
  background-color: var(--primary-dark);
  color: var(--link-default);
}