* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1rem;
}

:root {
  --primary-dark: #282c34;
  --primary-light: #fff;
  --link-default: #5690fa;

  --terminal-bg: var(--primary-dark);
  --terminal-color: var(--primary-light);
  --link-color: var(--link-default);
  --link-bg-color: var(var(--primary-light))
}

body{
  background-color: var(--terminal-bg);
  color: var(--terminal-color);
}

::selection {
  color: var(--terminal-bg);
  background-color: var(--terminal-color);
}

#welcome{
  background-color: var(--terminal-color);
  color: var(--terminal-bg);
}

.terminal-line {
  white-space: break-spaces;
  word-break: break-all;
  padding-bottom: 1rem;
}

.welcome-message {
  padding-bottom: 2rem;
}

.terminal-input {
  background-color: var(--terminal-bg);
  color: var(--terminal-color);
  font-size: 1rem;
  flex-grow: 1;
  resize: none;
}

.terminal-input:focus {
  outline: none;
}

#terminal {
  padding: 2rem;
  height: 100vh;
  color: var(--terminal-color);
}

#textarea {
  position: relative;
  left: -1000%;
}

#caret {
  display: inline-block;
  width: .66rem;
  height: .33rem;
  background-color: var(--terminal-color);
  animation: caret-animation 1s 1s infinite;
}

/* TODO: show text animation */

@keyframes caret-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.terminal-list {
  display: block;
}

.terminal-list>li {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  border: 2px dashed var(--terminal-color);
}



a, span{
  background-color: var(--link-bg-color);
  color: var(--link-color);
}